

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
.wrapper{
    width: 90%;
    margin: 0 auto;
}
header{
    width: 100%;
    height: 100px;
    background-color: #253237;
    position: fixed;
}
.logo{
    width: 30%;
    float: left;
    text-align: left;
    line-height: 100px;
}
.logo a{
    text-decoration: none;
    font-size: 30px;
    font-family: 'Pacifio';
    color: #fff;
    letter-spacing: 4px;
    font-weight: bold;
}
.logo a:hover{
    color: #9db4c0;
    font-weight: 700;
}
nav{
    float: right;
    line-height: 100px;
}
nav a{
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 4px;
    font-size: 20px;
    color: #fff;
    padding: 36px 10px;
    margin: 0 1px;
}
nav a:hover{
    background-color: #fff;
    color: #130f40;
    font-weight: 500;
}
.banner-area{
    background-image: url(images/IMG-7951.jpg);
    background-size: cover;
    background-position: center center;
    top: 100px;
    height: 100vh;
    width: 100%;
    position: fixed;
}
.banner-area::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #5c6b73;
    opacity: .7;
    z-index: -1;
}
.banner-area h2{
    padding-top: 8%;
    font-size: 80px;
    color: #fff;
}
.content-area{
    width: 100%;
    height: relative;
    position: relative;
    background-color: #e6e8e6;
    top: 550px;
}
.content-area h2{
    font-size: 45px;
    margin: 0;
    padding-top: 30px;
    letter-spacing: 3px;
}
.content-area p{
    padding: 2% 0;
    line-height: 30px;
    text-align: justify;
    font-size: 20px;
    text-align: center;
}
.container{
    width: 100%;
    height: 60vh;
    padding: 20px;
    border-radius: 20px;
    box-shadow:  0px 5px 25px rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.container form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.inputBox{
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    overflow: hidden;
    
}

.inputBox input[type="text"], .inputBox input[type="email"]{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 0px 10px;
    font-size: 16px;
    color: #444;
}

.inputBox textarea{
    width: 100%;
    height: 120px;
    border-radius: 5px;
    border: none;
    outline: none;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 0px 10px;
    font-size: 16px;
    color: #444;
}

.inputBox button{
    width: 100%;    
    padding: 10px 20px;
    border: none;
    outline: none;
    background: rgb(0, 119, 255);
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    
}

.inputBox button:hover{
    background: rgb(0, 17, 255);
    transition: all 0.3s ease;
}

::placeholder{
    font-size: 16px;
}

.alert{
    width: 100%;
    background: rgb(0, 255, 106);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    display: none;
}
